<a href="https://colab.research.google.com/github/Davidarr96/Project2_data_analitycs/blob/main/EDA_proyectoII.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**# Análisis exploratorio de los datos : (Exploratory Data Analysis-EDA)**

In [2]:
# Vinculamos google colab con google drive para importar el dataset
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
#Importamos las librerias a utilizar
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Proceso de EDA:
1- Cargamos los datos

In [4]:

#penetracion_hogares: penetración/ingreso de internet fijo a los hogares (por provincia, por cada 100 hogares) en Argentina
penetracion_hogares = pd.read_csv('/content/drive/MyDrive/Proyecto2_Data_Analitycs/csv/Internet_Penetracion.csv', sep=',', encoding='utf-8')

In [5]:
#acceso_bancha_bangosta: Acceso trimestral a banda ancha y banda angosta por provincia en Argentina 
acceso_bancha_bangosta= pd.read_csv('/content/drive/MyDrive/Proyecto2_Data_Analitycs/csv/Internet_BAF.csv', sep=',', encoding='utf-8')

In [6]:
# acceso_x_tecnologia_prov: Acceso a internet fijo por tecnologia y provincia de Argentina
acceso_x_tecnologia_prov=pd.read_csv('/content/drive/MyDrive/Proyecto2_Data_Analitycs/csv/Internet_Accesos-por-tecnologia.csv', sep=',', encoding='utf-8')

In [7]:
#acceso_total_x_tecnologia: Acceso trimestral a internet fijo por tecnologia a nivel nacional
acceso_total_tecnologia=pd.read_csv('/content/drive/MyDrive/Proyecto2_Data_Analitycs/csv/Internet_Accesos-por-tecnologia (1).csv', sep=',', encoding='utf-8')

2- Procedemos a limpiar los datos

In [8]:
# Verificamos que no existan valores nulos o faltantes.
penetracion_hogares.isna().sum()
penetracion_hogares

      Año  Trimestre            Provincia Accesos por cada 100 hogares
0    2022          3         Buenos Aires                        78,11
1    2022          3      Capital Federal                       122,28
2    2022          3            Catamarca                        65,33
3    2022          3                Chaco                        43,86
4    2022          3               Chubut                        84,38
..    ...        ...                  ...                          ...
835  2014          1           Santa Cruz                        28,94
836  2014          1             Santa Fe                        47,85
837  2014          1  Santiago Del Estero                        16,31
838  2014          1     Tierra Del Fuego                        63,97
839  2014          1              Tucumán                        33,42

[840 rows x 4 columns]

In [9]:
#Chequeamos el tipo de dato de cada columna
penetracion_hogares.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 840 entries, 0 to 839
Data columns (total 4 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Año                           840 non-null    int64
 1   Trimestre                     840 non-null    int64
 2   Provincia                     840 non-null    object
 3   Accesos por cada 100 hogares  840 non-null    object
dtypes: int64(2), object(2)
memory usage: 26.4+ KB

In [10]:
acceso_bancha_bangosta.isna().sum()

Año                 0
Trimestre           0
Provincia           0
Banda ancha fija    0
Dial up             2
Total               0
dtype: int64

In [11]:
#Encontramos dos columnas vacias en 'Dialup', por lo tanto procedemos a completar la fila con '0'
acceso_bancha_bangosta['Dial up'].fillna(0, inplace=True)
acceso_bancha_bangosta

      Año  Trimestre            Provincia Banda ancha fija Dial up      Total
0    2022          3         Buenos Aires        4.715.469   6.199  4.721.668
1    2022          3      Capital Federal        1.545.534   2.145  1.547.679
2    2022          3            Catamarca           70.292       1     70.293
3    2022          3                Chaco          144.141       5    144.146
4    2022          3               Chubut          164.874     904    165.778
..    ...        ...                  ...              ...     ...        ...
835  2014          1           Santa Cruz           26.304     460     26.764
836  2014          1             Santa Fe          506.000     612    506.612
837  2014          1  Santiago Del Estero           37.124       9     37.133
838  2014          1     Tierra Del Fuego           27.272     766     28.038
839  2014          1              Tucumán          129.944      88    130.032

[840 rows x 6 columns]

In [12]:
#Continuamos con el siguiente datasets para verificar si hay valores nulos 
acceso_x_tecnologia_prov.isna().sum()
acceso_x_tecnologia_prov

,Año,Trimestre,Provincia,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total
0,2022,3,Buenos Aires,339.648,2.748.325,1.436.433,126.846,70.416,4.721.668
1,2022,3,Capital Federal,140.791,1.240.125,129.218,5.758,31.787,1.547.679
2,2022,3,Catamarca,10.010,10.495,46.224,1.329,2.235,70.293
3,2022,3,Chaco,27.164,61.800,44.645,8.178,2.359,144.146
4,2022,3,Chubut,45.377,72.212,9.574,29.784,8.831,165.778
...,...,...,...,...,...,...,...,...,...
836,2014,1,Santa Fe,322.662,174.296,3.059,5.951,644.000,506.612
837,2014,1,Santiago Del Estero,32.567,3.598,19,915.000,34.000,37.133
838,2014,1,Tierra Del Fuego,21.618,2.837,648,1.000,2.934,28.038
839,2014,1,Tucumán,129.717,83,121,13.000,98.000,130.032
840,*,Los datos provinciales no coinciden a nivel na...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
#Notamos que la fila 840 contiene datos que no son relevantes, por lo tanto procedemos a eliminarla
acceso_x_tecnologia_prov = acceso_x_tecnologia_prov.drop(840)

In [14]:
#Chequeamos los tipo de datos del dataset acceso_bancha_bangosta
acceso_bancha_bangosta.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 840 entries, 0 to 839
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Año               840 non-null    int64
 1   Trimestre         840 non-null    int64
 2   Provincia         840 non-null    object
 3   Banda ancha fija  840 non-null    object
 4   Dial up           840 non-null    object
 5   Total             840 non-null    object
dtypes: int64(2), object(4)
memory usage: 39.5+ KB

In [15]:
#Notamos que hay valores str que deberian ser int64, por lo tanto pasamos los valores a enteros
acceso_bancha_bangosta['Banda ancha fija'] = acceso_bancha_bangosta['Banda ancha fija'].str.replace(r'\D', '')
acceso_bancha_bangosta['Banda ancha fija'] = acceso_bancha_bangosta['Banda ancha fija'].astype('int64')
acceso_bancha_bangosta['Total'] = acceso_bancha_bangosta['Total'].str.replace(r'\D', '')
acceso_bancha_bangosta['Total'] = acceso_bancha_bangosta['Total'].astype('int64')

<ipython-input-15-30b544772e47>:2: FutureWarning: The default value of regex will change from True to False in a future version.
  acceso_bancha_bangosta['Banda ancha fija'] = acceso_bancha_bangosta['Banda ancha fija'].str.replace(r'\D', '')
<ipython-input-15-30b544772e47>:4: FutureWarning: The default value of regex will change from True to False in a future version.
  acceso_bancha_bangosta['Total'] = acceso_bancha_bangosta['Total'].str.replace(r'\D', '')

In [16]:
#Notamos que hay valores str que deberian ser int64, por lo tanto pasamos los valores a enteros
acceso_x_tecnologia_prov['Año'] = acceso_x_tecnologia_prov['Año'].str.replace(r'\D', '')
acceso_x_tecnologia_prov['Año'] = acceso_x_tecnologia_prov['Año'].astype('int64')
acceso_x_tecnologia_prov['Trimestre'] = acceso_x_tecnologia_prov['Trimestre'].str.replace(r'\D', '')
acceso_x_tecnologia_prov['Trimestre'] = acceso_x_tecnologia_prov['Trimestre'].astype('int64')
acceso_x_tecnologia_prov['ADSL'] = acceso_x_tecnologia_prov['ADSL'].str.replace(r'\D', '')
acceso_x_tecnologia_prov['ADSL'] = acceso_x_tecnologia_prov['ADSL'].astype('int64')
acceso_x_tecnologia_prov['Cablemodem'] = acceso_x_tecnologia_prov['Cablemodem'].str.replace(r'\D', '')
acceso_x_tecnologia_prov['Cablemodem'] = acceso_x_tecnologia_prov['Cablemodem'].astype('int64')
acceso_x_tecnologia_prov['Fibra óptica'] = acceso_x_tecnologia_prov['Fibra óptica'].str.replace(r'\D', '')
acceso_x_tecnologia_prov['Fibra óptica'] = acceso_x_tecnologia_prov['Fibra óptica'].astype('int64')
acceso_x_tecnologia_prov['Total'] = acceso_x_tecnologia_prov['Total'].str.replace(r'\D', '')
acceso_x_tecnologia_prov['Total'] = acceso_x_tecnologia_prov['Total'].astype('int64')

<ipython-input-16-75f78e29758c>:2: FutureWarning: The default value of regex will change from True to False in a future version.
  acceso_x_tecnologia_prov['Año'] = acceso_x_tecnologia_prov['Año'].str.replace(r'\D', '')
<ipython-input-16-75f78e29758c>:4: FutureWarning: The default value of regex will change from True to False in a future version.
  acceso_x_tecnologia_prov['Trimestre'] = acceso_x_tecnologia_prov['Trimestre'].str.replace(r'\D', '')
<ipython-input-16-75f78e29758c>:6: FutureWarning: The default value of regex will change from True to False in a future version.
  acceso_x_tecnologia_prov['ADSL'] = acceso_x_tecnologia_prov['ADSL'].str.replace(r'\D', '')
<ipython-input-16-75f78e29758c>:8: FutureWarning: The default value of regex will change from True to False in a future version.
  acceso_x_tecnologia_prov['Cablemodem'] = acceso_x_tecnologia_prov['Cablemodem'].str.replace(r'\D', '')
<ipython-input-16-75f78e29758c>:10: FutureWarning: The default value of regex will change from True to False in a future version.
  acceso_x_tecnologia_prov['Fibra óptica'] = acceso_x_tecnologia_prov['Fibra óptica'].str.replace(r'\D', '')
<ipython-input-16-75f78e29758c>:12: FutureWarning: The default value of regex will change from True to False in a future version.
  acceso_x_tecnologia_prov['Total'] = acceso_x_tecnologia_prov['Total'].str.replace(r'\D', '')

In [17]:
acceso_x_tecnologia_prov.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 840 entries, 0 to 839
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Año           840 non-null    int64
 1   Trimestre     840 non-null    int64
 2   Provincia     840 non-null    object
 3   ADSL          840 non-null    int64
 4   Cablemodem    840 non-null    int64
 5   Fibra óptica  840 non-null    int64
 6   Wireless      840 non-null    float64
 7   Otros         840 non-null    float64
 8   Total         840 non-null    int64
dtypes: float64(2), int64(6), object(1)
memory usage: 59.2+ KB

In [18]:
acceso_x_tecnologia_prov

,Año,Trimestre,Provincia,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total
0,2022,3,Buenos Aires,339648,2748325,1436433,126.846,70.416,4721668
1,2022,3,Capital Federal,140791,1240125,129218,5.758,31.787,1547679
2,2022,3,Catamarca,10010,10495,46224,1.329,2.235,70293
3,2022,3,Chaco,27164,61800,44645,8.178,2.359,144146
4,2022,3,Chubut,45377,72212,9574,29.784,8.831,165778
...,...,...,...,...,...,...,...,...,...
835,2014,1,Santa Cruz,18927,100,381,4.092,3.264,26764
836,2014,1,Santa Fe,322662,174296,3059,5.951,644.000,506612
837,2014,1,Santiago Del Estero,32567,3598,19,915.000,34.000,37133
838,2014,1,Tierra Del Fuego,21618,2837,648,1.000,2.934,28038
839,2014,1,Tucumán,129717,83,121,13.000,98.000,130032

In [19]:
# Unimos Los datasets 'acceso_x_tecnologia_prov' y 'acceso_bancha_bangosta' con la funcion merge, para luego poder trabajar en power bi con una sola tabla
acceso_internet_x_tecnologia = pd.merge(acceso_x_tecnologia_prov, acceso_bancha_bangosta, on= ['Provincia', 'Trimestre', 'Año'], how= 'left')
acceso_internet_x_tecnologia

,Año,Trimestre,Provincia,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total_x,Banda ancha fija,Dial up,Total_y
0,2022,3,Buenos Aires,339648,2748325,1436433,126.846,70.416,4721668,4715469,6.199,4721668
1,2022,3,Capital Federal,140791,1240125,129218,5.758,31.787,1547679,1545534,2.145,1547679
2,2022,3,Catamarca,10010,10495,46224,1.329,2.235,70293,70292,1,70293
3,2022,3,Chaco,27164,61800,44645,8.178,2.359,144146,144141,5,144146
4,2022,3,Chubut,45377,72212,9574,29.784,8.831,165778,164874,904,165778
...,...,...,...,...,...,...,...,...,...,...,...,...
835,2014,1,Santa Cruz,18927,100,381,4.092,3.264,26764,26304,460,26764
836,2014,1,Santa Fe,322662,174296,3059,5.951,644.000,506612,506000,612,506612
837,2014,1,Santiago Del Estero,32567,3598,19,915.000,34.000,37133,37124,9,37133
838,2014,1,Tierra Del Fuego,21618,2837,648,1.000,2.934,28038,27272,766,28038
839,2014,1,Tucumán,129717,83,121,13.000,98.000,130032,129944,88,130032

In [20]:
#Guardamos datasets con los cambios realizados
acceso_internet_x_tecnologia.to_csv('/content/drive/MyDrive/Proyecto2_Data_Analitycs/csv/Datasets/acceso_internet_x_tecnologia.csv', index=False)